extends layout

block content
    .panel.panel-default
        .panel-heading
            .panel-title= article.title
        .panel-body= article.body
        .panel-footer.text-right Written by #{author}
    
    if user
        if user.id == article.author
            .btn-toolbar
                a.btn.btn-default(href='/articles/edit/'+article._id) Edit
                a.btn.btn-danger.delete-article(href='#', data-id=article._id) Delete
        
